# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/docker-compose.yml
/docker-compose.override.yml
/docker-compose.dcproj
/docker-compose.ci.build.yml
/Configuration.xps
/.vs/Packt.DotNetCore2ByExamples.Examples/lut/0/0/GettingStarted/Debug/netcoreapp2.0/Microsoft.CodeAnalysis.LiveUnitTesting.Runtime.dll
/.vs/Packt.DotNetCore2ByExamples.Examples/lut/0/0/GettingStarted/Debug/netcoreapp2.0/GettingStarted.runtimeconfig.json
/.vs/Packt.DotNetCore2ByExamples.Examples/lut/0/0/GettingStarted/Debug/netcoreapp2.0/GettingStarted.runtimeconfig.dev.json
/.vs/Packt.DotNetCore2ByExamples.Examples/lut/0/0/GettingStarted/Debug/netcoreapp2.0/GettingStarted.pdb
/.vs/Packt.DotNetCore2ByExamples.Examples/lut/0/0/GettingStarted/Debug/netcoreapp2.0/GettingStarted.dll
/.vs/Packt.DotNetCore2ByExamples.Examples/lut/0/0/GettingStarted/Debug/netcoreapp2.0/GettingStarted.deps.json
/.vs/Packt.DotNetCore2ByExamples.Examples/lut/0/0/LetsChat/Debug/netcoreapp2.0/Microsoft.CodeAnalysis.LiveUnitTesting.Runtime.dll
/.vs/Packt.DotNetCore2ByExamples.Examples/lut/0/0/LetsChat/Debug/netcoreapp2.0/LetsChat.runtimeconfig.json
/.vs/Packt.DotNetCore2ByExamples.Examples/lut/0/0/LetsChat/Debug/netcoreapp2.0/LetsChat.runtimeconfig.dev.json
/.vs/Packt.DotNetCore2ByExamples.Examples/lut/0/0/LetsChat/Debug/netcoreapp2.0/LetsChat.pdb
/.vs/Packt.DotNetCore2ByExamples.Examples/lut/0/0/LetsChat/Debug/netcoreapp2.0/LetsChat.dll
/.vs/Packt.DotNetCore2ByExamples.Examples/lut/0/0/LetsChat/Debug/netcoreapp2.0/LetsChat.deps.json
/.vs/Packt.DotNetCore2ByExamples.Examples/lut/0/0/TicTacToeGame/Debug/netcoreapp2.0/TicTacToeGame.deps.json
/.vs/Packt.DotNetCore2ByExamples.Examples/lut/0/0/TicTacToeGame/Debug/netcoreapp2.0/Microsoft.CodeAnalysis.LiveUnitTesting.Runtime.dll
/.vs/Packt.DotNetCore2ByExamples.Examples/lut/0/0/TicTacToeGame/Debug/netcoreapp2.0
/.vs/Packt.DotNetCore2ByExamples.Examples/lut/0/0/LetsChatTest/Debug/netcoreapp2.0/xunit.runner.visualstudio.dotnetcore.testadapter.dll
/.vs/Packt.DotNetCore2ByExamples.Examples/lut/0/0/LetsChatTest/Debug/netcoreapp2.0/xunit.runner.utility.netstandard15.dll
/.vs/Packt.DotNetCore2ByExamples.Examples/lut/0/0/LetsChatTest/Debug/netcoreapp2.0/xunit.runner.reporters.netstandard15.dll
/.vs/Packt.DotNetCore2ByExamples.Examples/lut/0/0/LetsChatTest/Debug/netcoreapp2.0/Microsoft.CodeAnalysis.LiveUnitTesting.Runtime.dll
/.vs/Packt.DotNetCore2ByExamples.Examples/lut/0/0/LetsChatTest/Debug/netcoreapp2.0/LetsChatTest.runtimeconfig.json
/.vs/Packt.DotNetCore2ByExamples.Examples/lut/0/0/LetsChatTest/Debug/netcoreapp2.0/LetsChatTest.runtimeconfig.dev.json
/.vs/Packt.DotNetCore2ByExamples.Examples/lut/0/0/LetsChatTest/Debug/netcoreapp2.0/LetsChatTest.pdb
/.vs/Packt.DotNetCore2ByExamples.Examples/lut/0/0/LetsChatTest/Debug/netcoreapp2.0/LetsChatTest.dll
/.vs/Packt.DotNetCore2ByExamples.Examples/lut/0/0/LetsChatTest/Debug/netcoreapp2.0/LetsChatTest.deps.json
/.vs/Packt.DotNetCore2ByExamples.Examples/lut/0/0/LetsChatTest/Debug/netcoreapp2.0/LetsChat.pdb
/.vs/Packt.DotNetCore2ByExamples.Examples/lut/0/0/LetsChatTest/Debug/netcoreapp2.0/LetsChat.dll
/.vs/Packt.DotNetCore2ByExamples.Examples/lut
/.vs/Packt.DotNetCore2ByExamples.Examples/v15/Server/sqlite3
*.lock
/.vs/Packt.DotNetCore2ByExamples.Examples/v15/sqlite3/storage.ide-shm
/.vs/Packt.DotNetCore2ByExamples.Examples/v15/sqlite3/storage.ide-wal
/packages
/obj
